# Eclipse .settings directories in all levels
.settings/

# target directories in all levels
target/

## Eclipse .project files in all levels
**/.project

## Eclipse .classpath files in all levels
**/.classpath

# Class Files in all levels
**/*.class

# Package Files in all levels
**/*.war
**/*.ear
