<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.nidget.eclipse.djeclipse.viewers.MultiPageClassFileViewer"
            contributorClass="org.nidget.eclipse.djeclipse.viewers.MultiPageClassFileViewerContributor"
            default="true"
            extensions="class without source"
            icon="icons/djeclipse.gif"
            id="org.nidget.eclipse.djeclipse.viewers.MultiPageClassFileViewer"
            name="DJEclipse">            
      </editor>
   </extension>

</plugin>
